:root{
    --gray30: #212121;
    --gray20: #616161;
    --gray10: #212429;
}
html{
   /* scroll-behavior: smooth;*/
}
.hero{
    background-image: url(../images/img-17.jpg);
   background-repeat: no-repeat;
   background-size: 1550px 200%;
   background-position:center 58.6%;
   height: 350px;
}
body{
   /* background: #2d0303f7;*/
   /* background-image: url(../images/img-17.jpg);*/
    background-repeat: no-repeat;
    background: #232946;
}
*{
    color: white;
}
header a{
    text-decoration: none;
}
header a:hover{
    color: rgba(57, 125, 212, 0.822);
}
h1{
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: normal;
}
h2{
    font-size: 32px;
   
}
h3{
    position: sticky;
    top: 0;
    background:#232946 ;
}
p{
    color: var();
}
header{
     font-size: 14px;
     width: 188px;
     /*background: black;*/
     /*width: 1366px;
     height:350px ;*/
    left:-232px;
    top: 64px;
     position: absolute;
     /*border: 1px solid red;/*
    background: black;
    /*z-index: auto;*/
}
.header{
    position: sticky;
    top: 0;
}
.header-content{
    position: relative;


}
.main{
    background:#232946;
 
}
.wrapper{
    width: 902px;
    margin: auto;
}
.main-content{
    background: #232946;
    /*padding: 20px;*/
}
.lol{
width:100px ;
position: relative;
bottom: 80px;
left: 145px;
}
.lal{
width: 180px;
position:relative ;
left: 80px;
bottom: 70px;
}
.lel{
    width: 105px;
    position: relative;
    left: 5px;
    bottom: 64px;
}
.q1{
    position: relative;
    left: 17px;

}
.q2{
    position: relative;
    left: 139px;
    bottom: 203px;
}
.q3{
    position: relative;
    left: 248px;
    bottom: 365px;
}